* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {color: darkkhaki;}
.doan1 { color: blue; }
.doan2 {color: red;}
.text-yellow {color: darkgoldenrod;}
.doan3 {background-color: lightyellow;}