* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
    background-color: black;
    color: white;
    text-align: center;
    unlin
}
p {
    background-color: lightgray;
    color: black;
    text-align: center;
    }
    a {text-decoration: none;}